body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
main {
    flex-grow: 1;
}

/* header */
header {
    background-color: #1F2937;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 820px;
    height: 60px;
}

.head-title {
    font-size: 24px;
    color: #f9faf8;
}

.top-row {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
}

/* main section 1 */
.first-content {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.text-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 500px;
    padding: 20px;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 0;


}
.text-one p {
    font-size: 18px;
    color: #f9faf8;

}

.butt1 {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    color: white;
}

/* main section 2*/
.secon-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    padding: 50px 150px;
}

.secon-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}
.information {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
}
.text {
   font-size: 15px;
}
.box img {
    border-radius: 5px;
    border: 2px solid #3882f6;
}


/* main section 3*/
.third-content {
    background-color: #e5e7eb;
}
.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 50px 150px;
    
}
.quote-text {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}
.quote-speak {
    font-weight: bold;
    margin-left: 500px;
}


/*main section 4*/
.fourth-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 50px 150px;
}
.action-box {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 10px 50px;
}
.action-text {
    margin-right: 50px;
    width: 500px;
}
h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}
.action-text p {
    color: white;
    margin-top: 5px;
    font-size: 12px;
}
.butt2 {
    text-decoration: none;
    font-weight: 400;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 25px;
    color: white;
}



/* footer */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    color: #e5e7eb;
}




ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}