body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    

}

.top-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    height: 40px;
}


.head-title {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 150px;
}


.first-content {
    display: flex;
    background-color: #1F2937;
    padding: 50px 150px;
    gap: 30px;
}

.first-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;
    align-items: center;
}
.central {
    font-size: 18px;
    color: #f9faf8;
}

.secon-content {
    display: flex;
    background-color: white;
    align-items: center;
    
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-wrap: wrap;
}







.third-content {
    display: flex;
    align-items: center;
    
  
}









.fourth-content {
    display: flex;

}





.footer {
    display: flex;
    justify-content: flex-end;
}

.action-box {
    background-color: #3882f6;
    
}



button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #3882f6;
    color: white;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}