body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.head-title {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 150px;
    font-size: 18px;
}

.first-content {
    background-color: #1F2937;

}
.text-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    
}
.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;


}
.central {
    font-size: 18px;
    color: #f9faf8;

}
.first-image {
    display: flex;
}


.secon-content {
    background-color: white;
    padding: 50px 150px;
    flex: 1;
}

.secon-title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.information {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.box {
    max-width: 200px;
}
.text {
    display: flex;
    flex-wrap: wrap;
}


.third-content {
    background-color: #e5e7eb;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    flex-wrap: wrap;
}
.quote-text {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}
.quote-speak {
    font-weight: bold;
}






ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}